.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f8f8f8;
            padding: 10px 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-height: 80px;
        }

.brand {
            font-size: 24px;
            font-weight: bold;
        }

.tagline {
            font-style: italic;
            color: #666;
}


.container .section .form-group button {
            width: calc(100% - 20px);
            padding: 6px;
            border: none;
            background-color: #dc3545;
            color: white;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 8px;
            font-family: Arial, sans-serif;
        }

.container .section .form-group button:hover {
            background-color: #c82333;
        }


.container h2 {
            margin: 0 0 20px 0;
            font-size: 20px;
            font-family: Arial, sans-serif;
        }

.dados-professor {
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 5px;
        }

.dados-professor h3 {
            font-size: 18px;
            margin-bottom: 10px;
            font-family: Arial, sans-serif;
        }

.dados-professor p {
            margin: 5px 0;
            font-family: Arial, sans-serif;
        }


.brand img {
            width: 100px;
            height: auto;
        }


.container h2 {
            text-decoration: none;
        }